{% extends "base.html" %} {% load static %} 

{% block page_header %}<!-- It's from base template -->
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
  <!-- h-100 and my-auto enable vertically centerized content -->
  <div class="row h-100">
    <div class="col-7 col-md-6 my-auto">
      <h1 class="display-4 logo-font text-black"><!-- logo-font text-black are custom css -->
        The new collections are here
      </h1>
    </div>
    <div class="my-5">
    <h4>
        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"><!-- shop-now-button id a custom css -->
        </a>
    </h4>
    </div>
  </div>
</div>
{% endblock %}
